@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif;

  --chart-1: #059669;
  --chart-2: #6366f1;
  --chart-3: #f59e0b;
  --chart-4: #e11d48;
  --chart-5: #8b5cf6;
  --chart-6: #06b6d4;
  --chart-7: #f97316;
  --chart-8: #84cc16;
  --chart-grid: #e4e4e7;
  --chart-text: #71717a;
  --chart-tooltip-bg: #ffffff;
  --chart-tooltip-border: #e4e4e7;
  --chart-tooltip-text: #18181b;
}

[data-theme='dark'] {
  --chart-1: #10b981;
  --chart-grid: #27272a;
  --chart-text: #a1a1aa;
  --chart-tooltip-bg: #18181b;
  --chart-tooltip-border: #27272a;
  --chart-tooltip-text: #fafafa;
}
